{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blagovest Fartsov - Portfolio</title>
    <meta property="og:title" content="Blagovest Fartsov - Portfolio" />
    <meta
      property="og:description"
      content=" A highly motivated, adaptable person who enjoys taking new challenges and learning new skills. "
    />
    <meta
      property="og:image"
      content="https://bfartsov.tk/media/photos/2020/12/09/slide3.jpeg"
    />

    <meta
      name="description"
      content="A highly motivated, adaptable person who enjoys taking new challenges and learning new skills."
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:url" content="https://bfartsov.tk" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css'%}
    type="text/css"">
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/owl.carousel.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/superslides.css'%} "
      type="text/css"
    />
    <link rel="stylesheet" href="{% static 'css/main.css'%}" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <!--slider-->
    <div id="slides">
      <div class="overlay"></div>
      <div class="slides-container">
        {% for banner in banners%}
        <img src="{{banner.img.url}}" />

        {%endfor%}
      </div>
      <div class="title">
        <div class="heading">
          <p class="main">{{about.farts_name}} {{about.last_name}}</p>
          <p class="sub typed"></p>
        </div>
      </div>
      <nav class="slides-navigation">
        <a href="#" class="next"></a>
        <a href="#" class="prev"></a>
      </nav>
    </div>
    <!--nav bar-->
    <nav id="navigation" class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">B Fartsov</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#slides">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#portfolio">Portfolio</a>
          </li>
        </ul>
      </div>
    </nav>

    <!--about section -->
    <div id="about" class="aboutSection section">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <img class="aboutImg" src="{{about.img.url}}" />
          </div>
          <div class="col-md-7">
            <h3>{{about.title}}</h3>
            {{about.about|safe}}
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <!--technical skills section-->
    <div id="skills" class="skillsSection section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2>{{skills_about.title}}</h2>
            <p>{{skills_about.sub_title}}</p>
          </div>
          <div class="owl-carousel owl-theme">
            {% for skill in skills %}
            <div class="skill">
              <span class="chart" data-percent="{{skill.prosent}}">
                <span class="percent">{{skill.prosent}}</span>
                <canvas height="152" width="152"></canvas>
              </span>
              <h4>{{skill.skill}}</h4>
            </div>
            {%endfor%}
          </div>
        </div>
      </div>
    </div>
    <!--//statistics-->
    <div id="stats" class="statsSection section">
      <div class="container">
        <div class="row">
          <blockquote class="verse" cite="John 3:16">
            <h5><i>For God so loved the world that he gave his one and only Son, that whoever believes in him shall not perish but have eternal life.</i></h5>
            <cite>John 3:16</cite>

         </blockquote>
        </div>
      </div>
    </div>
    <!--//contact section-->
    <div id="contact" class="contactSection section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p class="subHeading">Like what you see</p>
            <h2>I'd love to hear from you!</h2>
            <a href="mailTo:bfartsov@htv.bg" class="contactButton">
              GET IN TOUCH</a
            >
          </div>
        </div>
      </div>
    </div>
    <!--//portfolio section-->
    <div id="portfolio" class="section">
      <div class="container">
        <div class="row">
          <div class="heading">
            <h2>Portfolio</h2>
          </div>

          <div class="itamContainer">
            <ul class="items">
              {% for item in portfolio%}
              <li class="apps col-xs-6 col-sm4 com-md-3 col-lg-3">
                <div class="item">
                  <img src="{{item.img.url}}" alt="" />
                  <div class="icons">
                    <a
                      href="{{item.thumb.url}}"
                      title="view image"
                      class="openButton"
                      data-fancybox
                      data-caption="caption"
                    >
                      <i class="fa fa-search"></i>
                    </a>
                    <a
                      href="{{item.url}}"
                      target="_blank"
                      title=""
                      class="projectLink"
                    >
                      <i class="fa fa-link"></i>
                    </a>
                  </div>
                  <div class="imageOverlay"></div>
                </div>
              </li>
              {%endfor%}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!--copayright section -->
    <div class="copyrithSection section">
      <div class="col-md-12 text-center">
        <p>&copy; Copyright Blagovest Fartsov 2019</p>
      </div>
    </div>

    <script src="{% static 'js/countUp-jquery.js'%}"></script>
    <script src="{% static 'js/countUp.js'%}"></script>
    <script src="{% static 'js/all.min.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src="{% static 'js/jquery.superslides.min.js'%}"></script>
    <script src="{% static 'js/jquery.easypiechart.min.js'%}"></script>
    <script src="{% static 'js/owl.carousel.min.js'%}"></script>
    <script src="https://unpkg.com/isotope-layout@3.0.6/dist/isotope.pkgd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/main.js'%}"></script>
  </body>
</html>
